#dependencies
/node_modules
/*.env
/.env

/src/Keys
/src/Keys/KeyMysql.js
/src/Keys

/src/config
/src/MYSQL
/src/MYSQL/queryAuthor.js
/src/MYSQL/queryPostEmail.js

#production
/build

.env
.env.local
.env.development